@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?13075189");
  src: url("../font/fontello.eot?13075189#iefix") format('embedded-opentype'), url("../font/fontello.woff?13075189") format('woff'), url("../font/fontello.ttf?13075189") format('truetype'), url("../font/fontello.svg?13075189#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?13075189#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-linkedin-1:before { content: '\4c'; } /* 'L' */
.icon-twitter-1:before { content: '\54'; } /* 'T' */
.icon-github-1:before { content: '\67'; } /* 'g' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-mail-3:before { content: '\e804'; } /* '' */
.icon-phone-circled:before { content: '\e064'; } /* '' */
.icon-phone-2:before { content: '\e065'; } /* '' */
.icon-mail-2:before { content: '\e0eb'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-location-1:before { content: '\e805'; } /* '' */
.icon-database:before { content: '\e754'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-right-open-1:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e766'; } /* '' */
.icon-mobile-alt:before { content: '\e7b0'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-github-squared:before { content: '\e800'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-github-2:before { content: '\f308'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-phone-1:before { content: '\e802'; } /* '' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */