#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

route '/static/*' do
  item.identifier[7..-2]
end

compile '/css/styles.css/' do
  filter :sass, syntax: :scss
end

compile '/css/*/' do
  # do nothing
end

compile '/js/resume.concat/' do
  filter :erb
  filter :uglify_js
end

compile '/js/*/' do
  # do nothing
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb, :trim_mode => "-"
  end
end

route '/css/styles.css/' do
  '/css/styles.css'
end

route '/css/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/js/resume.concat/' do
  if production
    '/js/resume.min.' + item[:extension]
  end
end

route '/js/*/' do
  unless production
    item.identifier.chop + '.' + item[:extension]
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end
