<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Raine Virta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<% if production -%>
    <link href="css/resume.min.css" rel="stylesheet" media="screen">
<% else -%>
<% for file in @config[:stylesheets] -%>
    <link href="css/<%= file %>.css" rel="stylesheet" media="screen">
<% end -%>
<% end -%>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:600|Roboto+Condensed:300,400" rel="stylesheet" type="text/css">
<% unless production -%>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<% end -%>
  </head>
  <body>
    <div class="container">
      <div id="avatar-wrap">
        <img class="pic" src="images/raine.jpg" />
      </div>
      <div id="header">
        <h1>Raine Virta</h1>
        <h2 class="subtitle"><i class="icon-arrow-right"></i>Coder & Web Developer</h2>
      </div> <!-- header -->

      <div class="personal">
        <ul>
          <li>
            <span class="mail">
              <i class="icon-mail"></i> <a href="mailto:raine.virta@gmail.com">raine.virta@gmail.com</a>
            </span>
          </li>
          <li>
            <span class="phone">
              <i class="icon-mobile"></i> +358 41 524 1320
            </span>
          </li>
          <li>
            <span class="location">
              <i class="icon-location"></i> Helsinki, Finland
            </span>
          </li>
        </ul>

        <ul id="social">
          <li>
            <span class="github">
              <i class="icon-github-2"></i><a href="http://github.com/raine">GitHub</a>
            </span>
          </li>
          <li>
            <span class="twitter">
              <i class="icon-twitter"></i><a href="http://twitter.com/rane">Twitter</a>
            </span>
          </li>
          <li>
            <span class="linkedin">
              <i class="icon-linkedin"></i><a href="http://fi.linkedin.com/in/rainevirta/">LinkedIn</a>
            </span>
          </li>
        </ul>
      </div>

      <div class="row">
        <div id="employment" class="timeline span6">
          <h2>Experience</h2>
          <h3>
            Sulake Corporation Oy
            <span class="job-title">Software Developer</span>
          </h3>
          <span class="time-period">November 2013 – August 2016</span>

          <img class="right" src="images/giffer.gif" />

          <p>
            Full stack web development with all things Habbo.
          </p>

          <p>
            Initially part of the Habbo Stories team developing a platform
            for creating and sharing user-generated content. Later helped in
            building the new Habbo web with modern tools.
          </p>

          <p>
            Some cool things created on free time:
            <ul>
              <li><a href="https://www.habbo.com/giffer/#/">Habbo Giffer</a></li>
              <li><a href="http://raine.github.io/explorer">Selfie Explorer</a></li>
              <li><a href="https://www.habbo.com/mosaic/">Habbo Mosaic</a></li>
            </ul>
          </p>
          <h3>
            Blaast
            <span class="job-title">Software Engineer</span>
          </h3>
          <span class="time-period">March 2011 – August 2012</span>

          <a id="fancybox-devhub" class="thumb">
            <img src="images/devhub-thumb.png" />
          </a>
          <p>
            Developed and designed apps for Blaast's cloud-powered mobile
            platform. Built Blaast DevHub with Rails, a web frontend used by
            3rd-party developers to streamline app publishing.
          </p>
          <h3>Nodeta Oy
            <span class="job-title">Web Software Developer</span>
          </h3>
          <span class="time-period">April 2009 – March 2011</span>
          <p>
            I was part of the team working on
            <a href="https://www.flowdock.com">Flowdock</a>, a
            collaboration web app for technical teams. Mostly worked on
            the Rails frontend and UI/UX. Also wrote and maintained
            acceptance tests for mission critical features such as the
            signup flow.
          </p>
        </div> <!-- employment -->
        <div id="skills" class="span6">
          <h2>Skills</h2>
          <dl>
            <dt>
              Languages
              <i class="icon-code"></i>
            </dt>
            <dd>
              <ul id="languages">
                <li class="l1">JavaScript</li>
                <li class="l1">LiveScript</li>
                <li class="l1">CoffeeScript</li>
                <li class="l1">Ruby</li>
                <li class="l2">Lua</li>
                <li class="l2">Python</li>
                <li class="l3">Haskell</li>
                <li class="l3">Clojure</li>
                <li class="l3">Perl</li>
                <li class="l3">PHP</li>
              </ul>

              <p class="natural">
                Native in Finnish. Fluent in spoken and written English.
                Picking up some Swedish in spare time.
              <p>
            </dd>

            <dt>
              Assorted Buzzwords
              <i class="icon-magic"></i>
            </dt>
            <dd>
              <p>
                HTML, CSS, SCSS, LESS, jQuery, Ruby on Rails, Backbone.js,
                Node.js, React.js, Angular, PhantomJS
              </p>

              <p>
                Functional Programming, UI/UX dev, Amazon S3, Amazon EC2, Web
                App Deployment and Optimization, Web Analytics (GA,
                Mixpanel), TDD, BDD, Acceptance Testing, API Development, A/B
                Testing, Chrome Extensions, Browser Userscripts, Linux
                (Debian, Ubuntu), nginx, Apache, Grafana
              </p>
            </dd>

            <dt>
              Databases
              <i class="icon-database"></i>
            </dt>
            <dd>MongoDB, SQL, Redis</dd>

            <dt>
              Tools
              <i class="icon-tools"></i>
            </dt>
            <dd>Mac OS X, Git, vim, Photoshop</dd>
          </dl>
        </div> <!-- skills -->
      </div> <!-- row -->
      <div class="row">
        <div id="education" class="oneline-timeline span6">
          <h2>Education</h2>
          <h3>Viherlaakson lukio</h3>
          <span class="time-period">2004 – 2007</span>
          <h3>Espoon aikuislukio</h3>
          <span class="time-period">2010 – 2011</span>

          <h2>Hobbies</h2>
          <p>I like to read, lift weights and to <a href="https://www.strava.com/athletes/2324638">ride a bike</a>.</p>
        </div> <!-- education -->
        <div id="projects" class="span6">
          <h2>Projects & Open Source</h2>
          <div class="major">
            <a id="fancybox-memrise-button" class="thumb">
              <img src="images/memrise-button-thumb.png" />
            </a>

            <h3>
              <a href="https://chrome.google.com/webstore/detail/memrise-button/mahhgdkliaknjffpmocpaglcoljnhodn">
                Memrise Button
              </a>
            </h3>
            <p>An unofficial Chrome Extension for Memrise.com.</p>
          </div>
          <div class="major">
            <h3>
              <a href="https://github.com/ramda/ramda">
                Ramda
              </a>
            </h3>
            <p>
              I sometimes contribute to Ramda, a practical functional library
              for JavaScript programmers. Related projects:
              <a href="https://github.com/raine/ramda-cli">ramda-cli</a>,
              <a href="https://github.com/raine/alfred-ramda-workflow">alfred-ramda-workflow</a>,
              <a href="https://github.com/raine/ramda-destruct">ramda-destruct</a>,
              <a href="https://github.com/raine/ramda-t">ramda-t</a>,
              <a href="https://github.com/raine/ram-bot">ram-bot</a>.
            </p>
          </div>
          <div class="major">
            <h3>
              <a href="https://github.com/raine/ramda-cli">
                ramda-cli
              </a>
            </h3>
            <p>
              A CLI tool for processing data with functional pipelines.
              Written in LiveScript.
            </p>
          </div>
          <div class="major">
            <h3>
              <a href="https://github.com/raine/replem">
                replem
              </a>
            </h3>
            <p>
              Instantly try npm modules in a REPL environment.
            </p>
          </div>
          <div class="major">
            <h3>
              <a href="https://github.com/raine/reittiopas">
                Reittiopas
              </a>
            </h3>
            <p>A Ruby library for the Reittiopas GET API.</p>
          </div>
          <ul class="minor">
            <li><a href="https://github.com/raine/vmsq">vmsq</a></li>
            <li><a href="https://github.com/raine/ez-jenkins">ez-jenkins</a></li>
            <li><a href="https://github.com/raine/treis">treis</a></li>
            <li><a href="https://github.com/raine/taim">taim</a></li>
            <li><a href="https://github.com/raine/tmpl-cli">tmpl-cli</a></li>
            <li><a href="https://github.com/raine/cli-goodies">cli-goodies</a></li>
            <li><a href="https://github.com/raine/tunnit">tunnit</a></li>
            <li><a href="https://github.com/raine/flyd-playground">flyd-playground</a></li>
            <li><a href="https://github.com/raine/triangles">triangles</a></li>
            <li><a href="https://github.com/raine/snipget">snipget</a></li>
            <li><a href="https://github.com/jsn/rbot/commits/master/?author=rane@kapsi.fi">rbot</a></li>
            <li><a href="https://github.com/raine/memrise-forgive-typos">memrise-forgive-typos</a></li>
            <li><a href="https://github.com/raine/memrise-hotkeys">memrise-hotkeys</a></li>
            <li><a href="https://github.com/raine/websearch.vim">websearch.vim</a></li>
            <li><a href="https://github.com/raine/irccloud-alwaysmarkread">irccloud-alwaysmarkread</a></li>
            <li><a href="https://github.com/raine/irccloud-bufswitch">irccloud-bufswitch</a></li>
          </ul>
        </div> <!-- projects -->
      </div> <!-- row -->
      <div id="footer">
        <p>Built with <a href="http://nanoc.ws/">nanoc</a>. Source available on
        <a href="https://github.com/raine/site">GitHub</a>.</p>
      </div>
    </div> <!-- container -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<% if production -%>
    <script type="text/javascript" src="js/resume.min.js"></script>
<% else -%>
  <% for file in @config[:javascript] -%>
  <script type="text/javascript" src="js/<%= file %>.js"></script>
  <% end -%>
<% end -%>
<% if production -%>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30721226-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<% end -%>
  </body>
</html>
