<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Raine Virta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<% if @production %>
    <link href="resume.min.css" rel="stylesheet" media="screen">
<% else %>
    <link href="css/fontello.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/styles.css" rel="stylesheet" media="screen" />
    <link href="css/jquery-fancybox.css" rel="stylesheet" media="screen" />
    <link href="css/jquery-fancybox-thumbs.css" rel="stylesheet" media="screen" />
<% end %>
    <link href="http://fonts.googleapis.com/css?family=Cabin+Condensed:600|Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <div id="header">
        <h1>
          Raine Virta
          <div id="avatar-wrap">
            <img id="avatar" class="pic" src="images/raine.jpg" />
          </div>
        </h1>
        <h2 class="subtitle"><i class="icon-right-open"></i>Coder & Web Developer</h2>
      </div> <!-- header -->

      <div class="personal">
        <ul>
          <li>
            <span class="mail">
              <i class="icon-mail"></i> <a href="mailto:raine.virta@gmail.com">raine.virta@gmail.com</a>
            </span>
          </li>
          <li>
            <span class="phone">
              <i class="icon-mobile"></i> +358 41 524 1320
            </span>
          </li>
          <li>
            <span class="location">
              <i class="icon-location"></i> Helsinki, Finland
            </span>
          </li>
        </ul>

        <ul id="social">
          <li>
            <span class="github">
              <i class="icon-github-2"></i>
              <a href="http://github.com/raneksi">GitHub</a>
            </span>
          </li>
          <li>
            <span class="twitter">
              <i class="icon-twitter-1"></i>
              <a href="http://twitter.com/rane">Twitter</a>
            </span>
          </li>
          <li>
            <span class="linkedin">
              <i class="icon-linkedin-rect"></i>
              <a href="http://fi.linkedin.com/in/rainevirta/">LinkedIn</a>
            </span>
          </li>
        </ul>
      </div>

      <div class="row">
        <div id="employment" class="timeline span6">
          <h2>Experience</h2>
          <h3>
            Blaast
            <span class="job-title">Software Engineer</span>
          </h3>
          <span class="time-period">March 2011 – August 2012</span>

          <a id="fancybox-devhub" class="thumb">
            <img src="images/devhub-thumb.png" />
          </a>
          <p>
            Developed and designed apps for Blaast's cloud-powered mobile
            platform. Built Blaast DevHub, the web frontend used by 3rd-party
            developers to streamline app publishing.
          </p>
          <h3>Nodeta Oy
            <span class="job-title">Web Software Developer</span>
          </h3>
          <span class="time-period">April 2009 – March 2011</span>
          <p>
            I was part of the team working on
            <a href="https://www.flowdock.com">Flowdock</a>, a
            collaboration web app for technical teams. Mostly worked on
            the Rails frontend and UI/UX. Also wrote and maintained
            acceptance tests for mission critical features such as the
            signup flow.
          </p>
        </div> <!-- employment -->
        <div id="skills" class="span6">
          <h2>Skills</h2>
          <dl>
            <dt>
              <i class="icon-code"></i>
              Languages
            </dt>
            <dd>
              <ul id="languages">
                <li class="l1">JavaScript</li>
                <li class="l1">CoffeeScript</li>
                <li class="l1">Ruby</li>
                <li class="l2">PHP</li>
                <li class="l2">Python</li>
                <li class="l3">Perl</li>
                <li class="l3">Java</li>
              </ul>

              <p class="natural">Native in Finnish. Fluent in spoken and written English.<p>
            </dd>

            <dt>
              <i class="icon-magic"></i>
              Assorted Buzzwords
            </dt>
            <dd>
              HTML, (S)CSS/LESS, jQuery, Ajax, Ruby on Rails, Backbone.js,
              Express.js, NodeJS, UI/UX dev, Amazon AWS, Web App Deployment
              and Optimization, Web Analytics (GA, Mixpanel), TDD, BDD,
              Acceptance Testing, API Development, A/B Testing, Chrome
              Extensions, Browser Userscripts, Linux Administration (Debian, Ubuntu)
            </dd>

            <dt>
              <i class="icon-database"></i>
              Databases
            </dt>
            <dd>MongoDB, SQL, Redis</dd>

            <dt>
              <i class="icon-tools"></i>
              Tools
            </dt>
            <dd>Mac OS X, Git, vim, Photoshop, Illustrator</dd>
          </dl>
        </div> <!-- skills -->
      </div> <!-- row -->
      <div class="row">
        <div id="education" class="oneline-timeline span6">
          <h2>Education</h2>
          <h3>Viherlaakson lukio</h3>
          <span class="time-period">2004 – 2007</span>
          <h3>Espoon aikuislukio</h3>
          <span class="time-period">2010 – 2011</span>
        </div> <!-- education -->
        <div id="projects" class="span6">
          <h2>Projects</h2>
          <div class="major">
            <a id="fancybox-memrise-button" class="thumb">
              <img src="images/memrise-button-thumb.png" />
            </a>

            <h3>
              <a href="https://chrome.google.com/webstore/detail/memrise-button/mahhgdkliaknjffpmocpaglcoljnhodn">
                Memrise Button
              </a>
            </h3>
            <p>An unofficial Chrome Extension for Memrise.com</p>
          </div>
          <div class="major">
            <h3>
              <a href="https://github.com/raneksi/reittiopas">
                Reittiopas
              </a>
            </h3>
            <p>A Ruby library for the Reittiopas GET API</p>
          </div>
          <ul class="minor">
            <li><a href="https://github.com/raneksi/www-cmd">www-cmd</a></li>
            <li><a href="https://github.com/raneksi/snipget">snipget</a></li>
            <li><a href="https://github.com/jsn/rbot/commits/master/?author=rane@kapsi.fi">rbot</a></li>
            <li><a href="https://github.com/raneksi/memrise-forgive-typos">memrise-forgive-typos</a></li>
            <li><a href="https://github.com/raneksi/memrise-hotkeys">memrise-hotkeys</a></li>
            <li><a href="https://github.com/raneksi/gstool">gstool</a></li>
            <li><a href="https://github.com/raneksi/gs-more-coffee">gs-more-coffee</a></li>
            <li><a href="https://github.com/raneksi/tinysong-coffee">tinysong-coffee</a></li>
            <li><a href="https://github.com/raneksi/jquery.scrollText">jquery.scrollText</a></li>
            <li><a href="https://github.com/raneksi/websearch.vim">websearch.vim</a></li>
          </ul>
        </div> <!-- projects -->
      </div> <!-- row -->
    </div> <!-- container -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<% if @production %>
    <script type="text/javascript" src="resume.min.js"></script>
<% else %>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-thumbs.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/px.js"></script>
    <script type="text/javascript" src="js/resume.js"></script>
<% end %>
<% if @production %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30721226-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<% end %>
  </body>
</html>
