@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mail, .icon-arrow-right, .icon-tools, .icon-code, .icon-code-fork, .icon-magic, .icon-mobile, .icon-location, .icon-database, .icon-linkedin, .icon-twitter, .icon-github, .icon-github-2, .icon-skype {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-mail:before {
	content: "\e000";
}
.icon-arrow-right:before {
	content: "\e002";
}
.icon-tools:before {
	content: "\e003";
}
.icon-code:before {
	content: "\e004";
}
.icon-code-fork:before {
	content: "\f126";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-mobile:before {
	content: "\e006";
}
.icon-location:before {
	content: "\e008";
}
.icon-database:before {
	content: "\e009";
}
.icon-linkedin:before {
	content: "\e001";
}
.icon-twitter:before {
	content: "\e005";
}
.icon-github:before {
	content: "\e007";
}
.icon-github-2:before {
	content: "\e00a";
}
.icon-skype:before {
	content: "\e00b";
}
