@charset "UTF-8";


.icon-twitter-1:before { content: '\54'; } /* 'T' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-mail-1:before { content: '\e801'; } /* '' */
.icon-mail-4:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e019'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-database:before { content: '\e754'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-github-2:before { content: '\f308'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */